In [1]:
# import the library and give it a shorter name 'pd'
import pandas as pd

# create a dataframe by hand with two columns and three rows
df = pd.DataFrame({
        'month': [1, 2, 3],
        'temperatur': [-12, 3, 9]
})

# have a look at df
df

# print out some descriptive statistics
df.describe()

       month  temperatur
count    3.0    3.000000
mean     2.0    0.000000
std      1.0   10.816654
min      1.0  -12.000000
25%      1.5   -4.500000
50%      2.0    3.000000
75%      2.5    6.000000
max      3.0    9.000000

In [3]:
# import the library and give it a shorter name 'pd'
import pandas as pd

# create a dataframe by hand with two columns and three rows
df = pd.DataFrame({
        'month': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
        'temperatur': [-12, -2, 3, 6, 10, 15, 18, 19, 17, 11, 5, 1]
})

# have a look at df
df

# print out some descriptive statistics
df.describe()

           month  temperatur
count  12.000000   12.000000
mean    6.500000    7.583333
std     3.605551    9.287904
min     1.000000  -12.000000
25%     3.750000    2.500000
50%     6.500000    8.000000
75%     9.250000   15.500000
max    12.000000   19.000000